[2017-08-22 12:32] amirrajan opened #2 "`UIAccessibilityPostNotification` for Apple Watch"
Imported from YouTrack:

`UIAccessibilityPostNotification(UIAccessibilityAnnouncementNotification, "Page 1")`

[code]

[2017-08-22 12:33] amirrajan opened #3 "Interface Builder + XCode 8.3.3+"
http://community.rubymotion.com/t/interface-builder-outlets-and-actions-not-getting-connected-macos/2137

[2017-08-22 12:34] amirrajan opened #4 "Need a sample to show how to integrate BrainTree"
Would be cool if someone could do a tutorial about this:

https://developers.braintreepayments.com/?initial_referrer=https%3A%2F%2Fwww.google.com%2F&referrer=https%3A%2F%2Fwww.google.com%2F&gclid=EAIaIQobChMIwurihu3q1QIV2LbACh0msw9_EAAYASAAEgLK5PD_BwE&partner_source=US_DT_SEA_GGL_TXT_RES_DEV_CPC_GW_YBR

[2017-08-22 12:35] amirrajan opened #5 "Need an example for using Masonry"
Would be cool if we have a sample of doing this: https://github.com/SnapKit/Masonry

[2017-08-22 14:26] amirrajan opened #6 "Sample of how to integrate Swift cocoapods"
short list:

- https://github.com/AudioKit/AudioKit
- https://cocoapods.org/pods/charts

Other reference how how to accomplish this:

- http://ericasadun.com/2014/08/21/swift-calling-swift-functions-from-objective-c/
- https://stackoverflow.com/questions/24078043/call-swift-function-from-objective-c-class
- http://pinkstone.co.uk/how-to-use-swift-classes-in-objective-c/

[2017-08-22 14:28] amirrajan opened #7 "LLVM Crash course"
Talk about RM internals

[2017-08-22 14:29] amirrajan opened #8 "Hopper"
Talk about some of the reverse engineering that's done to XCode. RE: http://community.rubymotion.com/t/interface-builder-outlets-and-actions-not-getting-connected-macos/2137

[2017-08-22 14:53] amirrajan opened #9 "Sample that shows AFNetworking in RM"

[2017-08-23 15:27] amirrajan opened #10 "Facebooks YogaKit pod Usage"

[2017-08-23 15:37] amirrajan commented on #10
https://github.com/facebook/yoga/tree/master/yoga

[2017-08-23 15:40] amirrajan opened #11 "Simulator hover for iOS 11.0/multiple simulators"
Check to see if this works.

[2017-08-23 15:42] andrewhavens commented on #9
What about AFMotion? Is the point of this to show how to use the CocoaPod or how to do networking?

[2017-08-23 15:49] amirrajan commented on #9
My gut says to push everyone to just use AFNetworking, but I don't have a clear view of how terrible AFNetworking looks in ruby (and how much better it looks in AFMotion). At a minimum we could start with "Here's what AFNetworking looks like in Ruby, if this makes you die a little bit inside, here is what it looks like using AFMotion."

Thoughts?

[2017-08-23 15:54] andrewhavens commented on #9
I think examples of both would be valuable. An example of how to use the AFNetworking CocoaPod and translating some Obj-C into RubyMotion would be a good tutorial in itself, but also documenting how to do it with AFMotion would give an example of how much nicer it can be using a RubyMotion gem.

[2017-08-23 15:59] amirrajan commented on #9
Cool. I think that would be a great narrative. 👍

[2017-08-23 16:02] amirrajan opened #12 "Document explaining what BridgeSupport is"

[2017-08-23 16:17] amirrajan commented on #10
From slack:

[2017-08-24 13:34] amirrajan opened #13 "Quick snippets on how to create common controls programmatically (*without* nibs/storyboards)"
Short list (all using vanilla UIKit):

- ui buttons
- forms
- table views

[2017-08-24 16:07] amirrajan opened #14 "Some kind of how-to for using Tesseract-OCR"
https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation#importing-the-tessdata-folder

[2017-08-25 04:46] Siggs2000 commented on #14
I think I've figured it out. I put the tessdata folder in `/resources` and followed the data file solution form this github issue: https://github.com/gali8/Tesseract-OCR-iOS/issues/299

I also added the english language "cube data" from this repo: https://github.com/tesseract-ocr/tessdata/tree/bf82613055ebc6e63d9e3b438a5c234bfd638c93

And then finally I initialized the library to use CubeCombined

[2017-08-25 21:40] amirrajan opened #15 "Rubymotion header files export"
Get a good suite of header files that will support Yoga FFIs and Ruby2D work.

[2017-08-26 01:48] amirrajan commented on #10
Related to #15

[2017-08-27 00:10] amirrajan commented on #2
It doesn't look like `UIAccessibilityPostNotification` is available on WatchOS:

[code]

Here are what the headers look like for iPhoneOS:

[code]

[2017-08-27 01:05] katsuyoshi commented on #2
Thank you for investigation.
I understand. I'll wait it is supported for WatchOS.

[2017-08-27 02:10] #2 closed, assigned to amirrajan

[2017-08-30 20:17] amirrajan opened #16 "WebKit usage"
documentation on how to use `WebKit`: https://developer.apple.com/documentation/webkit/wknavigationdelegate/1455638-webview?language=objc

This doesn't seem to work:

[code]

[2017-08-30 20:21] amirrajan commented on #3
(OSX project template still needs an update).

[2017-08-31 21:37] amirrajan commented on #16
I check the challenge class as a workaround for https://forums.developer.apple.com/thread/72469 , in which the challenge type may or may not be a `NSURLAuthenticationChallenge` and correctly expose any methods, namely `protectionSpace`.  Even trying `challenge.respond_to?(:protectionSpace)` instead produces the error:

[2017-09-02 15:17] amirrajan opened #17 "Crashlog Truncation"
Crash logs on devices are being truncated.

[2017-09-02 15:19] amirrajan opened #18 "Bridge Support 2.0 for OSX vNext"
http://community.rubymotion.com/t/cant-build-app-on-macos-10-13/2167/2

[2017-09-02 15:57] amirrajan opened #19 "AdMob and iOS HowTo"
Tutorial/code snippets that show how to integrate Ad Mob into an iOS app.

Edit:

This tutorial has been turned into a template.

1. First run `motion repo` to update your community templates.
2. Then run `motion create HelloAdMob --template=ios-admob-rewarded-ads`
3. Open the Rakefile, in there you should see a sample account_id and unit_id you can use to verify if ads work.

[2017-09-07 22:45] amirrajan commented on #15
[code]

[2017-09-07 22:47] amirrajan commented on #15
Agree that memory allocation/releasing will probably be the hardest, and both CRuby and MRuby have some weird methods there, but at a minimum, just being able to attach a native memory reference to a Ruby object is key (and registering a "free" method when the Ruby objects gets GCed).

[2017-09-14 16:18] amirrajan opened #20 "OSX + Xcode 9"
http://community.rubymotion.com/t/xcode-8-update-causing-mac-osx-rubymotion-compile-failure/1792

[2017-09-15 12:42] amirrajan opened #21 "Documentation on Asset Catalogs"
Here is a sample Asset Catalog that works (you'll want to put this in your `./resources` directory):

[Assets.xcassets.zip](https://github.com/amirrajan/rubymotion-applied/files/1306350/Assets.xcassets.zip)

These are the updates that have to be made into the `Rakefile`

[code]

[2017-09-15 12:43] amirrajan commented on #21
I use this script to generate my icons. First:

`brew install imagemagick`

Then create an icon with a size of 1024x1024 and run the following in bash:

[code]

[2017-09-15 16:25] jwg2s commented on #21
@amirrajan will flush this out into some wiki formatted documentation on what you and went through together to build this asset catalog.  A rake task to get a base asset catalog would also be awesome as well.

[2017-09-15 22:38] amirrajan commented on #21
I _think_ I can add a `readme.md` file inside the `Asset.xcasset` folder. So I'm hoping that after someone does `motion create CoolNewApp`, they'll be able to navigate to this folder and see a straight forward way to update your icons and test it out on different simulators.

[2017-09-15 23:41] astechishin commented on #21
@amirrajan I made a rake task:
  rule '.icns' => '.png' do |t|
        iconset = File.dirname(t.source) + '/' + File.basename(t.source, '.png') + '.iconset'
        mkdir_p iconset
        sh "sips -z 16  16   #{t.source} --out #{iconset}/icon_16x16.png"
        sh "sips -z 32  32   #{t.source} --out #{iconset}/icon_16x16@2x.png"
        sh "sips -z 32  32   #{t.source} --out #{iconset}/icon_32x32

[2017-09-15 23:59] astechishin commented on #21
Sorry, I need to review more. The task line above will not generate the appropriate elements. I do think that the rule provided could be the basis for what is needed and does not require downloading extra software (sips and iconutil are in the base OS, iconutil may be part of Xcode, not sure)

[2017-09-16 13:40] amirrajan commented on #21
@astechishin I was going under the assumption that most ruby devs would have brew installed and wouldn't be hesitant to download `imagemagick`. Maybe a gem would be better: https://github.com/minimagick/minimagick? (note that this still requires image magick to be installed).

[2017-09-16 13:41] amirrajan opened #22 "tvos bridgesupport for `UIAlertViewStyleDefault`"
[code]

[2017-09-16 23:34] amirrajan commented on #22
This is not allowed to be used on TV OS. Here is how the enumeration is defined in the header file:

[code]

The header file is located at:   `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS11.0.sdk/System/Library/Frameworks/UIKit.framework/Headers/UIAlertView.h`

[2017-09-16 23:35] #22 closed, assigned to amirrajan

[2017-09-17 06:29] hboon commented on #21
Not following the history, but chanced upon this. `brew` being installed is a good bet, and at least a good practise for developers using macOS.

[2017-09-17 22:19] amirrajan commented on #18
Context. High Sierra upgraded their minimum ruby version to `2.3`, so BridgeSupport needs to be rebuilt against that.

[2017-09-19 00:16] katsuyoshi opened #23 "Can't build a today extention with RM 5.0 and Xcode 9.0"
I'm trying to build my iOS App for iPhone X.
But I got an error for today extension.

Here is a build error.

[code]

I commented out ```app.target "./today", :extension``` in Rakefile.
Although It's included the watchapp target, build is success.

[2017-09-19 16:23] katsuyoshi commented on #23
It seems to use an i386 architecture at  ios-extension-builder.rb:141.
Then it could not find a file "/Library/RubyMotion5.0/data/ios/11.0/iPhoneSimulator/kernel-i386.bc".
[code]

[2017-09-20 01:56] amirrajan commented on #23
@katsuyoshi perfect, I'll get this updated (along with the other templates). Is this error completely block you from moving forward, or did you patch your RM rake files locally?

[2017-09-20 01:57] katsuyoshi commented on #21
@amirrajan I tried to submit my app.
There were two issues in my case.

1. ERROR ITMS-90023: "Missing required icon file. The bundle does not contain an app icon for iPad
of exactly 167x167' pixels, in .png format for iOS versions supporting iPad Pro."
  I added  'AppIcon83.5x83.5' to CFBundleIconFiles in CFBundleIcons~ipad.

2. Missing Info.plist value - A value for the Info.plist key CFBundleIco

[2017-09-20 01:57] amirrajan commented on #23
Also, you may want to explicitly set your architecture like so:

[code]

[2017-09-20 02:23] katsuyoshi commented on #23
@amirrajan thank you for your information.
I'm trying to submit with new environment. But I am not in a hurry.

I could build the app after adding ```app.archs['iPhoneOS'] = ['arm64']```.

But when I submitt, this message is appeared.

[code]

[2017-09-20 02:24] amirrajan commented on #21
Thanks @katsuyoshi, I'll get the default template updated to include these additions (hope it wasn't too painful).

[2017-09-20 02:26] amirrajan commented on #23
Add this too:

[code]

[2017-09-20 03:08] amirrajan opened #24 "Audit rest of Xcode 9 templates in the context of RM 5.0"
Ordered by importance. Below the line may get pushed to 5.2 unless an issue is opened for them.

- [x] android
- [x] gem
- [x] ios (default)
- [x] tvos
- [ ] osx
- [ ] ios-today-extension
- [ ] ios-watch-app
- [ ] ios-framework
- [ ] ios-imessage-extension
- [ ] ios-custom-keyboard-extension
-------
- [ ] ios-action-extension
- [ ] ios-audio-unit-extension
- [ ] ios-broadcast-ui-extension
- [ ] io

[2017-09-20 03:22] amirrajan opened #25 "High Sierra RTM SDKs"
Still waiting on a GM/RTM release.

[2017-09-20 05:07] katsuyoshi commented on #23
Adding UIRequiredDeviceCapabilities is same result.

I added app.arches to root (iOS) Rakefile. Build is succeeded.
I added it to today target only, it seems to try armv7.

[code]

Here is combinations I tried.
Left 3 column is combination of adding app.archs and UIRequiredDeviceCapabilities to Rakefile.
Right 4 columns are results.

| iOS | today | watchapp | => | build | upload | ios install | t

[2017-09-20 20:51] amirrajan commented on #23
Related: https://github.com/amirrajan/rubymotion-applied/issues/24

[2017-09-23 20:24] ryanstout commented on #17
I'm seeing the same thing.  A fix for this would be great.

[2017-09-23 21:27] amirrajan commented on #17
Thanks @ryanstout. I'll schedule this for RM 5.2. Are you seeing truncation using `rake crashlog`?

[2017-09-23 21:32] ryanstout commented on #17
@amirrajan yes, truncated there also.  Thanks a bunch!

[2017-09-24 15:41] amirrajan opened #26 "Include in change log with macOS enums are typed."
http://community.rubymotion.com/t/fyi-rm-5-0-and-macos-10-13-some-enums-are-now-typed/2188

[2017-09-24 19:31] amirrajan commented on #23
@katsuyoshi can you make sure you've added

[code]

to the parent app?

[2017-09-24 21:20] katsuyoshi commented on #23
@amirrajan Yes I did except second line.

[2017-09-27 01:27] amirrajan commented on #18
Beta:

[code]

[2017-09-27 02:57] SimonC4 commented on #18
I'm now getting the following error.
[code]

It's looking for libclang.dylib on this path:
[code]

But it's at this path for me:
[code]

[2017-09-27 20:47] amirrajan opened #27 "`ARR_CYCLES_DISABLE=true`"
![image](https://user-images.githubusercontent.com/517055/30936973-18cb9ee6-a39b-11e7-8e16-a1ac336e3121.png)

[2017-09-27 22:00] ryanstout commented on #27
Just to confirm that my issue is related to the cycle collector:

<img width="930" alt="screen shot 2017-09-27 at 3 57 00 pm" src="https://user-images.githubusercontent.com/42336/30939989-a70bbf0a-a39c-11e7-9110-a1de3f84b648.png">

I'm seeing a 16 second pause (eeh) all in the cycle collector.  My app is fairly small, so I'm starting to think this is a bug in the cycle collector, not just relating

[2017-09-29 04:01] amirrajan commented on #18
workaround until release: `cp /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.13.xctoolchain`

[2017-09-29 04:03] amirrajan commented on #18
Beta (attempt two):

Update BridgeSupport/pull again, and copy binaries over:
[code]
After that do:

`cp /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.13.xctoolchain`

[2017-09-29 16:53] amirrajan commented on #18
Related: https://github.com/osxfuse/osxfuse/issues/416#issuecomment-330980225

Looks like it may be a bug in Xcode: https://github.com/osxfuse/osxfuse/issues/416#issuecomment-331238045

[2017-09-30 15:41] amirrajan commented on #25
Done.

[2017-09-30 15:41] #25 closed, assigned to nobody

[2017-09-30 15:41] amirrajan commented on #18
Done.

The following fixed the issue (waiting on Apple to rework their clang bindings):

[code]

[2017-09-30 15:41] #18 closed, assigned to nobody

[2017-09-30 15:42] amirrajan commented on #20
Duplicate. See: https://github.com/amirrajan/rubymotion-applied/issues/3

[2017-09-30 15:42] #20 closed, assigned to nobody

[2017-09-30 15:48] amirrajan commented on #26
Done.

[2017-09-30 15:48] #26 closed, assigned to nobody

[2017-10-02 01:38] amirrajan opened #28 "CocoaPods OSX"
No worky. See sample app.
[test_1013RM5.zip](https://github.com/amirrajan/rubymotion-applied/files/1347722/test_1013RM5.zip)

[2017-10-02 01:40] amirrajan commented on #23
related to: https://github.com/amirrajan/rubymotion-applied/issues/24

[2017-10-02 02:01] amirrajan opened #29 "Show how to upload a file to S3 from iOS and Android"
iOS: http://docs.aws.amazon.com/mobile/sdkforios/developerguide/s3transferutility.html

Android: todo

[2017-10-02 13:12] amirrajan opened #30 "Realm and CFBundleExecutable"
http://community.rubymotion.com/t/submission-to-app-store-fails-error-itms-90171-invalid-bundle-structure/2199/3

My app builds fine, but when I submit it to the app store, the application loader fails with:

I need to add `strip-frameworks.sh` to the build process, per intercom's docs, but I don't know how to do this in rubymotion. help?

[2017-10-02 23:26] amirrajan opened #31 "Getting started with building iOS games using RubyMotion and SpriteKit"
Need to convert this repo into a nice linear tutorial:

https://github.com/amirrajan/ios-ruby-game-dev

[2017-10-02 23:57] amirrajan opened #32 "ARKit Hello World"
Hello world app showing how to use ARKit in RubyMotion.

[2017-10-03 00:00] amirrajan opened #33 "Reverse engineering an XCode project template"
How do you reverse engineer an XCode template.

[2017-10-03 00:00] amirrajan opened #34 "How to create your own RubyMotion templates and share it with the world."

[2017-10-03 00:02] amirrajan opened #35 "How to create a foreign function interface to C libraries"
Show how to interop with pure C libraries.

[2017-10-03 00:05] amirrajan opened #36 "IAP in iOS"
show how to create IAPs in iOS

[2017-10-03 00:06] amirrajan opened #37 "IAP in Android"
show how to create IAPs in Android

[2017-10-03 06:36] Lax commented on #21
It's safe to remove `'AppIcon60x60'` from `app.info_plist['CFBundleIcons~ipad']`,
`['AppIcon76x76', 'AppIcon83.5x83.5']` are required.

* https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon/

[2017-10-03 09:38] hboon commented on #33
As in the `project.pbxproj` file?

[2017-10-04 22:32] amirrajan opened #39 "High Sierra, AFNetworking, iOS 11.0"
Make sure this combination works.

[2017-10-04 22:36] amirrajan opened #40 "Flurry Cocoapod + High Sierra + OSX"
Figure out what’s causing this to not work

[2017-10-05 08:43] Lax commented on #34
I have a simple note on how to create a motion template rubygem, hope it will help.

---

1. Create a gem project
[code]

2. Add files and metadata to gemspec
[code]

3. Create files in template directory
[code]

4. Add to template files.
[code]

You can use `erb` as template.

5. Build gem, install, and push to rubygems
[code]

6. Use the template
[code]

[code]

* An example: https://github.com/

[2017-10-05 12:29] forrestgrant commented on #40
Steps to reproduce: https://github.com/forrestgrant/cocoapods-high-sierra-bug

[2017-10-05 15:49] hboon commented on #21
Slight change (added 29x29.png and rename file icon.png):

[code]

[2017-10-05 15:52] hboon commented on #21
Also worth using a storyboard for the launch image:

[code]

[2017-10-05 16:27] amirrajan opened #41 "Tutorial on BubbleWrap installation/hello world sample app."
![image](https://user-images.githubusercontent.com/517055/31238612-1c4d11dc-a9c0-11e7-845b-52319b71de99.png)

[2017-10-05 16:41] katsuyoshi commented on #23
@amirrajan It was solved today.

I had specified deployment_target in the parent app.

[code]

I added it to the Rakefile of today target.

[code]

Then I could build the today target. Upload and installation succeeded.

I updated RM to version 5.2 today.
A build error message is changed.
I realized it is missing.

[code]

[2017-10-05 21:06] amirrajan opened #42 "Sql Lite + Cocoa Pod + High Sierra + OSX"
No worky: https://github.com/eamonn-webster/TestMotionSQLite3

[2017-10-05 21:07] amirrajan commented on #23
🎉🎉

[2017-10-06 01:38] katsuyoshi commented on #23
If deployment_target for today target is not specified, how about using parent values?
Or, always use the parent value.

[2017-10-06 14:55] victorcechinel commented on #29
iOS

Rakefile pod:

`pod 'AWSS3', '2.4.16'`

Upload flow:

[code]

Upload request:
[code]
File upload:

[code]

Download request:

[code]

File download:

[code]

[2017-10-06 15:01] victorcechinel commented on #42
See repo: https://github.com/solanoluz/motion-sqlite3

Gem file:
[code]

Add this code on Rakefile:

[code]

[2017-10-07 12:44] amirrajan commented on #23
If I recall correctly, for extensions, the parent value is always used (and extension value is ignored). If that is the case, I'll make sure to update the templates so that the user is notified more clearly.

[2017-10-07 14:35] amirrajan commented on #42
@victorcechinel did you get this working on High Sierra? I'm still getting an error.

[2017-10-07 15:31] amirrajan commented on #42
https://gist.github.com/amirrajan/5c2b9185bf431403309f2fc61cb163b1

[2017-10-07 22:26] amirrajan commented on #39
Fixed in RM 5.3

[2017-10-07 22:26] #39 closed, assigned to nobody

[2017-10-08 04:49] spnkr commented on #30
I fixed it! But this is a hack:

I pasted the source of strip-frameworks.sh into the top of /Users/me/MYSPECIALAPP//vendor/Pods/Target\ Support\ Files/Pods-RubyMotion/Pods-RubyMotion-resources.sh, and then did rake archive:distribution

Aside: How/where is the Pods-RubyMotion-resources.sh file generated?

[2017-10-08 13:23] amirrajan opened #44 "Walkthrough how to use LLDB with RubyMotion"
How to debug RubyMotion apps from the command line using LLDB.

[2017-10-08 13:29] amirrajan commented on #30
https://github.com/HipByte/motion-cocoapods/blob/master/lib/motion/project/cocoapods.rb#L502

Hey hey. Hacks are the first steps to a solid solution :-D

[2017-10-08 13:49] amirrajan commented on #17
Will be fixed in RM 5.4.

Edit: pushing this to 5.5.

[2017-10-08 13:49] amirrajan commented on #28
Fixed in RM 5.3

[2017-10-08 13:49] #28 closed, assigned to nobody

[2017-10-08 13:53] amirrajan commented on #40
@forrestgrant could you try `env experimental_dependency=1 rake clean default` and see if that builds for you?

[2017-10-08 15:17] amirrajan commented on #40
I was able to build and run on High Sierra + Xcode 9.0 + RM 5.3:

Rakefile:

[code]

`rake clean:all pod:install default`

[code]

Can you confirm @forrestgrant?

[2017-10-08 21:34] pedrovillarruel commented on #19
**Admob Implementation**

The source code is not sufficient to get Admob setup. Read all information
for proper implementation.

This is going to be a very basic explanation of how to integrate AdMob using reward video ads into iOS device running RubyMotion (RM). Reward video ads are ads that when played reward the user with whatever you set as an incentive for watching the video ad (this is my fa

[2017-10-09 07:20] hboon opened #45 "iOS 11 LocalAuthentication constants (enums) not available: LALABiometryTypeNone, LABiometryTypeFaceID, LABiometryTypeTouchID"
[code]

Rakefile:

[code]

Crash with:

[code]

RubyMotion 5.3
macOS Sierra 10.12.6 (16G29)

[2017-10-12 13:31] amirrajan commented on #45
Added to short list.

[2017-10-13 20:52] amirrajan opened #46 "Web RTC"
http://community.rubymotion.com/t/webrtc-library/1310/4?u=seths

[2017-10-13 20:52] amirrajan commented on #46
Verify this works. Then maybe have a tutorial on it.

[2017-10-16 18:16] wndxlori commented on #13
I think the RubyMotionSamples are *full* of these examples.  For example UITableView - https://github.com/HipByte/RubyMotionSamples/blob/master/ios/Fonts/app/root_controller.rb

[2017-10-19 08:40] hboon commented on #21
A slight change to cater for iPad Pro:

[code]

[2017-10-22 04:08] amirrajan opened #47 "motion-cocoapods + `.bundle` + `.resources`"
https://github.com/jgritman/motion-pods-test

[2017-10-22 12:10] #40 closed, assigned to nobody

[2017-10-22 16:16] hboon commented on #21
Whoops. Final version:

[code]

[2017-10-22 20:47] amirrajan commented on #45
[code]

Try: `LABiometryNone`

[2017-10-22 20:48] amirrajan commented on #45
Reopen if needed.

[2017-10-22 20:48] #45 closed, assigned to nobody

[2017-10-22 20:51] amirrajan commented on #42
This line needs to be fixed /cc @victorcechinel @kastiglione for HighSierra: https://github.com/amirrajan/motion.h/blob/master/lib/motion.h.rb#L71

@kastiglione, do you accept pull requests? Make me a collaborator and give me access to push motion.h?

[2017-10-22 20:52] amirrajan commented on #42
Will open issue on motion.h or fork and deploy a new version.

[2017-10-22 21:06] amirrajan commented on #47
https://github.com/HipByte/motion-cocoapods/blob/master/lib/motion/project/cocoapods.rb#L536-L537

https://github.com/HipByte/motion-cocoapods/blob/master/lib/motion/project/cocoapods.rb#L505

[2017-10-22 21:25] #24 closed, assigned to nobody

[2017-10-22 21:25] #23 closed, assigned to nobody

[2017-10-22 21:26] amirrajan commented on #47
This is an update that will need to be made in motion-cocoapods (but I'll track it here)

[2017-10-22 21:34] amirrajan opened #48 "ARKit Sample App/documentation"
From Slack:

To solve this i had to do something like this
[code]

[2017-10-23 02:21] ryanstout commented on #27
@amirrajan I don't.  I tried to pull it out, but it didn't happen in isolation.  It seemed like it only became an issue once we had a certain amount of objects or something, but just creating random objects didn't do it.  (Felt like an N+1 issue, but it probably wasn't)  You can close this.  I added a bunch of weak ref's and nil'ed out a bunch of things and it stopped being an issue.  (Unfortunate

[2017-10-23 06:07] hboon opened #49 "macOS static constants NSAlertFirstButtonReturn, NSAlertSecondButtonReturn, NSAlertThirdButtonReturn not available"
These were available in an older version of RubyMotion (4.x or earlier probably).

Enums in the same file `NSAlert.h` are available, eg. `NSAlertStyleWarning`

I think there might have been an issue with static const in RubyMotion previously, not sure how it was handled.

[code]

[2017-10-23 06:18] hboon commented on #49
This might give a clue:

If I define this:

module NSMissingConstants
  AlertFirstButtonReturn = 1000
  AlertSecondButtonReturn = 1001
  AlertThirdButtonReturn = 1002
end

Run the app, then I can access `NSAlertFirstButtonReturn` in the REPL.

[2017-10-23 14:59] kastiglione commented on #42
I'm happy to add collaborators, also happy to hand off the project. If you fork I'll be sure to point the original repo to yours.

[2017-10-24 04:12] amirrajan commented on #42
@kastiglione I’d be happy to take over. Mind adding me as a collaborator to your repo (and give me push rights for the gem)?

[2017-10-24 06:46] hboon opened #50 "Bring back `eval()` at runtime"
While Live Reload would be perfect, `eval()` is at least a nice stopgap. It used to work in earlier versions of RubyMotion (3.x maybe?). Now it only works in the REPL (so presumably, all the support is still there).

In app_delegate.rb:

[code]

[code]

REPL:

[code]

Tested in macOS.

[2017-10-24 06:57] hboon commented on #50
Thinking about this again. I'm not sure it ever worked correctly. But would be nice.

[2017-10-25 01:43] amirrajan opened #51 "Reference RubyMotion library in iOS (swift/objc) proj?"
This is possible. Just need to write a tutorial for it.

[2017-10-25 01:43] amirrajan opened #52 "Reference RubyMotion library in Android project?"
Not possible as of right now. But a good thing to work on in 2018. It's on the list.

[2017-10-25 16:59] amirrajan opened #53 "app.vendor_project guidance"
![image](https://user-images.githubusercontent.com/517055/32011915-d97fa1be-b97b-11e7-96c1-748f364b296b.png)

![image](https://user-images.githubusercontent.com/517055/32011949-ee8c6bf0-b97b-11e7-96f5-840fc30b5722.png)

[2017-10-25 17:03] amirrajan opened #54 "app naming guidance"
![image](https://user-images.githubusercontent.com/517055/32012105-76893592-b97c-11e7-9a28-8936a2a58702.png)

[2017-10-25 17:04] amirrajan opened #55 "`motion migrate`"
![image](https://user-images.githubusercontent.com/517055/32012192-b51da540-b97c-11e7-950c-570e584a8c7d.png)

[2017-10-26 14:23] amirrajan commented on #49
Will be fixed in RM 5.4 (planning on releasing that this week).

Edit: wrote wrong version number.
Edit: Xcode 9.1 dropped just now. Rebuilding.

[2017-10-26 14:23] #49 closed, assigned to nobody

[2017-10-26 15:17] ben5516 commented on #42
@amirrajan What error were you getting with High Sierra? On my own app, I'm getting:

[code]

but when I clone and build https://github.com/eamonn-webster/TestMotionSQLite3, it actually compiles and launches in the simulator, but I get this error:

[code]

[2017-10-26 15:33] kastiglione commented on #42
@amirrajan I added you as collaborator. I'll do the gem rights later today.

[2017-10-26 15:40] kastiglione commented on #42
@amirrajan How do I add gem push rights, via gemspec?

[2017-10-26 17:34] amirrajan commented on #42
I think through rubygems.org maybe?

[2017-10-27 10:41] amirrajan opened #56 "Tutorial on how to create a 'traditional' preferences controller window"
![image](https://user-images.githubusercontent.com/517055/32100455-6d12fd64-bad9-11e7-9f66-ee719ad208f6.png)

[2017-10-27 10:41] amirrajan commented on #56
https://github.com/tsugua/rm_macos_prefs_example

[2017-10-28 18:20] andrewhavens opened #57 "Update `motion android-setup` documentation"
I was getting back into Android development and had to reinstall my RubyMotion Android support files. It seems like some things have changed since the documentation for `motion android-setup` was written. I ran into some issues and had to tweak somethings in order to get things installed correctly.

[2017-10-28 18:21] andrewhavens commented on #57
I’m not sure if the guides are available for editing on GitHub.

[2017-10-29 13:51] amirrajan commented on #57
Will migrate them over. Keeping this open till I do.

[2017-11-05 14:57] amirrajan opened #58 "`motion doctor`"
Wish list:

- Correct version of xcode installed?
- Rbenv installed?
- Command line tools installed?
- http://community.rubymotion.com/t/nomethoderror-undefined-method-pods-for-motion-project-osxconfig/2095/2

"On the list":

## Xcode Select trouble shooting, related to [this thread](http://community.rubymotion.com/t/new-user-member-questions-on-starting-with-rubymotion-xcode/2261/11)
- [ ] `motio

[2017-11-05 21:48] andrewhavens commented on #58
More ideas:
- valid Android SDK/NDK path and installation
- Installed SDKs compatible with current version of RM
- platform tools valid and usable
- emulators installed and available

[2017-11-06 12:26] digitalmoksha commented on #49
@amirrajan this is still failing for me, using RM 5.4

<img width="882" alt="screen shot 2017-11-06 at 1 25 06 pm" src="https://user-images.githubusercontent.com/20626/32441036-ffcfc898-c2f5-11e7-9d11-cfcfbe5fd420.png">

I have a sample project that demonstrates the issue:  https://github.com/digitalmoksha/rm_osx_test

[2017-11-06 12:35] digitalmoksha opened #59 "Incorrect value for NSAppKitVersionNumber on macOS High Sierra..."
You can use `NSAppKitVersionNumber` to get the version of the AppKit you're running on (macOS), as well as compare it against constants for various appkit versions, such as `NSAppKitVersionNumber10_12_2`

On macOS 10.13.0, `NSAppKitVersionNumber` should equal `1561.0` - this is what is shown when running a sample app built with XCode.

RM 5.3 and 5.4 show  `NSAppKitVersionNumber` as `577.0`, which

[2017-11-07 20:02] amirrajan commented on #59
Making an update to BridgeSupport to explicitly wire up this constant correctly (it's a rare API collision).

I'll make sure that both 10.12 and 10.13 work using your sample project and get a release out.

[2017-11-07 20:04] amirrajan commented on #49
@hboon is it failing for you still too?

[2017-11-08 07:32] digitalmoksha commented on #59
ah cool, thank you...

[2017-11-08 19:15] amirrajan commented on #59
Building now, expect a release tonight (November 8th).

Edit: November 9th. Running full regression first (messaged you on Slack).

[2017-11-12 10:36] digitalmoksha commented on #49
This works now for me in RM 5.5.

[2017-11-12 16:52] digitalmoksha commented on #59
Fixed in RM 5.5.  I verified the correct value is generated on 10.13, 10.12, and 10.11.  Thanks Amir!

[2017-11-12 16:52] #59 closed, assigned to nobody

[2017-11-13 06:00] hboon commented on #49
@amirrajan working for me in 5.5. Thanks for the fix! (Sorry, just back from holidays).

[2017-11-19 04:33] davetrollope opened #60 "motion shell should be more robust"
I wish the motion shell was a little more robust. Missing a paren really shouldn't cause it to crash out:

[code]

I can attach a full crashlog if needed.

[2017-11-20 06:32] hboon opened #61 "Use Storyboard for launch screen instead of static images in iOS project template"
Since Apple really doesn't like us to use images for launch screens, and it's more work to support (new) devices with different screen sizes:

1. Delete `resources/LaunchImage.launchimage`
2. Drop `Launch Screen.storyboard` into resources/
3. Add to Rakefile:

        app.info_plist['UILaunchStoryboardName'] = 'Launch Screen'

[Launch Screen.storyboard.zip](https://github.com/amirrajan/rubymotion-

[2017-11-20 07:04] hboon commented on #21
(Based on the iOS project template shipped with RubyMotion 5.5)

Since there are no 64-bit non-retina iPads anymore, we can trim `resources/Assets.xcassets/AppIcon.appiconset/Contents.json` to:

    {
      "images" : [
        {
          "idiom" : "iphone",
          "size" : "20x20",
          "filename" : "20x20@2x.png",
          "scale" : "2x"
        },
        {
          "idiom" : "iphone

[2017-11-20 13:17] amirrajan commented on #21
I'll be updating the next set of milestones this weekend. One of them will be to make sure all the RM templates are synced up with the public repos and start accepting contributions again.

[2017-11-21 22:03] amirrajan opened #62 "Run RubyMotion against: https://github.com/ruby/spec"
Just to get a lay of the land, this would be good to run against... both iOS and Android.

"Sticky" to address this first to get a lay of the land before deciding if RM should look more like mRuby or more like Ruby 3.0.

[2017-11-21 22:58] wndxlori commented on #62
And how about macOS as well?

[2017-11-22 16:36] amirrajan commented on #62
`iOS == macOS`. Apple just doesn't advertise it :-)

[2017-11-22 16:50] wndxlori commented on #62
Ahhhh. I knew they were heading that way.  Hadn't actually realized they got there yet.

[2017-11-22 17:16] amirrajan commented on #62
There are still small deviations (you can look at `/Library/RubyMotion/data/ios/11.0` and `/Library/RubyMotion/data/osx` to compare the libraries that are shipped). But over time that difference is collapsing.

[2017-11-24 15:10] amirrajan opened #63 "Being a good RM Citizen and increasing the bus factor"
I (Amir) need to put some docs together to address bus factor concerns.

[2017-11-25 16:17] amirrajan opened #64 "Add Mac OSX to starter kit."
Make it so that people don't need an indie license to create mac apps.

[2017-11-25 16:18] amirrajan opened #65 "Reset iOS template git repo."
Triage tickets and get RM and OSS iOS templates synced up so we can start accepting pull requests again.

[2017-11-25 16:19] amirrajan opened #66 "Better error message for symlink access denied."
If a symlink can't be created for `gen_bridge_metadata`, put a better error message there.

[2017-11-25 16:20] amirrajan opened #67 "Better Starter Kit experience."
Make sure that starter kit continues to work even when new minor releases of iOS (et all) are released. Currently I have to manually change those values (which is annoying).

[2017-11-25 16:28] amirrajan opened #68 "Update website with latest iOS/Mac OS supported versions."

[2017-11-25 16:30] amirrajan opened #69 "Re-enable 32 bit compilation."
Adding 32-bit compilation back.

[2017-11-26 13:57] amirrajan opened #70 "Moving "the rest of the templates" to rubymotion-templates."
There are a lot of starter templates. There need to be more. But I (and hopefully you) will want to be able to iterate on them quickly and update them _independent of a RubyMotion release_.

So, aside from the `gem`, `osx`, `ios`, `watchos`, `tvos`, and `android` templates. I want to move the rest of them [here](http://github.com/rubymotion-templates).

When you run `motion create` with no paramet

[2017-11-26 15:09] hboon commented on #70
(If we can have https://github.com/hipbyte/rubymotion up to date :) )

Presuming that the idea is for the community to write more templates like `ios-admob-rewarded-ads`, I think it's worth considering keeping the templates for extensions within the RubyMotion repo and separate out non-"standard" ones like `ios-admob-rewarded-ads` into <https://github.com/amirrajan/rubymotion-templates>. Extension

[2017-11-26 15:22] amirrajan commented on #70
Yes definitely, but I just think it may be better if templates were always updated from a git repo when you run the `motion create` action. So the hipbyte/rubymotion public repo would be updated, but the `templates` directory would be (essentially) removed and all future templates would come from `rubymotion-templates`.

Agreed. Definitely _not_ saying that RubyMotion will stop supporting these. T

[2017-11-26 16:14] hboon commented on #70
Ok, makes sense 💯

[2017-11-26 21:09] andrewhavens commented on #70
💯% on board with moving ALL templates into a git repo. I’d love for the templates to auto-update like homebrew does.

[2017-11-26 23:12] amirrajan commented on #70
I'm totally okay with moving everything over too actually. @hboon ?

In essense, RubyMotion wont technically "ship" with any templates. They will all download when you type `motion create`. This will allow extremely fast updates to templates w/o having to do an RM release.

[2017-11-27 06:05] hboon commented on #70
Just 1 thought: would the templates ever need to be tied to an RM version?

But I suppose if we have a command like `motion update-project-templates <commit-or-tag>`, that would fix it.

Otherwise sounds good!

[2017-11-27 06:31] hboon opened #71 "`Enumerator.new do` crashes"
This crashes:

[code]

With:

app/app_delegate.rb:9:in `application:didFinishLaunchingWithOptions:': wrong number of argument (0 for 1) (ArgumentError)

*** Terminating app due to uncaught exception 'ArgumentError', reason: 'app/app_delegate.rb:9:in `application:didFinishLaunchingWithOptions:': wrong number of argument (0 for 1) (ArgumentError)

[2017-11-27 17:48] wndxlori commented on #70
New features will result in new templates.  Templates should indicate the first iOS/RM version in which they are supported, so they don't appear when using older versions (and you can add stuff during betas without confusing everyone on the officially supported release).

[2017-11-27 18:12] amirrajan commented on #70
@hboon @wndxlori Not to worried about that honestly. Specifically: You're creating a new project.... why would you want to use an old template/old version of RM/old version of XCode?

I think it's better to answer this question (very specifically), and figure out a solution around that. I'm still leaning towards "lets just do it, what's the worst that could happen?"

[2017-11-28 08:30] hboon commented on #70
Yes, let's do it! (or make it so :P )

[2017-11-30 01:36] mipmip commented on #6
I thought I had swift pod's working on earlier projects. Is it correct that swift pods needs the BridgeSupport scripts and that these are broken in high sierra?

[2017-12-01 01:47] astechishin commented on #61
@hboon agree but do we need to make the ib gem a default then? I have been essentially doing this on my last few projects and having it as the default is superior but do we need to give a mechanism to edit/update?

[2017-12-01 07:19] hboon commented on #61
You don't need the `ib` gem if you use storyboards only for launch screens. You can still double click on the storyboard to open it in Xcode for editing.

[2017-12-01 23:19] amirrajan commented on #70
`git commit -m "make it so"`

[2017-12-02 18:18] amirrajan opened #73 "gem notification from GH"
We found a potential security vulnerability in one of your dependencies.
The yajl-ruby dependency defined in Gemfile.lock has a known high severity security vulnerability in version range < 1.3.1 and should be updated.

Review vulnerable dependency
Only users who have been granted access to vulnerability alerts for this repository can see this message.
Learn more about vulnerability alerts

[2017-12-02 18:19] amirrajan opened #74 "Raketask (and documentation) for "it just works" preview videos"
Need to add fading transition between cropped videos between crops, but this kinda works:

[code]

[2017-12-03 14:33] Lax commented on #47
I have similar problems.

the matched path has `${PODS_ROOT}` prefix,
[code]

https://github.com/HipByte/motion-cocoapods/blob/master/lib/motion/project/cocoapods.rb#L510
[code]

so the file path in resources is  `#<Pathname:vendor/Pods/${PODS_ROOT}/CSSSelectorConverter/CSSSelectorConverter/CSSSelectorGrammar.txt>`

[2017-12-03 16:34] amirrajan commented on #47
@Lax Mark is actually working on this issue this week.

[2017-12-03 21:50] amirrajan opened #75 "Create a separate git repo for bridge support files (motion-data)"
Like this/related to this: https://github.com/amirrajan/rubymotion-applied/issues/70

[2017-12-03 21:50] amirrajan opened #76 "Create separate git repo for RM build (motion-build)"
Like this/related to this: https://github.com/amirrajan/rubymotion-applied/issues/70

[2017-12-03 21:52] amirrajan commented on #65
Closed because of this: https://github.com/amirrajan/rubymotion-applied/issues/70

[2017-12-03 21:52] #65 closed, assigned to nobody

[2017-12-03 21:54] amirrajan commented on #3
Closed/deferred because of this: https://github.com/amirrajan/rubymotion-applied/issues/70

[2017-12-03 21:54] #3 closed, assigned to nobody

[2017-12-06 13:52] hboon opened #77 "Safe navigation operator crashes with write accessors"
RubyMotion 5.5:

[code]

ruby 2.3.1:

[code]

[2017-12-06 13:56] hboon commented on #54
Maybe this can be done via a pre-commit hook opening it up for future, additional checks? There's http://danger.systems which is excellent for pull requests, but last I checked it didn't support local/pre-commit checks.

[2017-12-11 12:33] Lax commented on #47
This issue is included in `RM 5.6`?

[2017-12-12 00:57] amirrajan commented on #47
Slated for 5.7

[2017-12-12 00:57] amirrajan commented on #47
Had to release 5.6 because Apple made Xcode 9.2 GM.

Updated the milestone name: https://github.com/amirrajan/rubymotion-applied/milestone/3

[2017-12-12 01:00] #66 closed, assigned to nobody

[2017-12-12 01:00] #67 closed, assigned to nobody

[2017-12-12 01:00] #70 closed, assigned to nobody

[2017-12-12 01:01] #64 closed, assigned to nobody

[2017-12-15 01:21] amirrajan opened #78 "`no resource identifier found`"
No worky: https://github.com/gregmolnar/Hello

[2017-12-15 04:43] hboon commented on #78
Instead of manually downloading the jar and vendoring, you can use https://github.com/HipByte/motion-gradle instead.

In your `Gemfile`:

    gem 'motion-gradle'

`Rakefile`:

    app.gradle do
        repository 'https://maven.google.com'
        dependency 'com.android.support:design:25.4.0' #I didn't double check the version
    end

Then:

    bundle install
    rake gradle:install

Should wor

[2017-12-15 09:05] gregmolnar commented on #78
@hboon I tried that but the issue is, Flow already includes a different version of `appcompat` and it causes issues. I guess the best would be to figure out how to make Flow not include the libraries included by the main project as it's mentioned here:
 https://github.com/HipByte/Flow/blob/master/lib/motion-flow/loader.rb#L29
I will look into how to make that work.

[2017-12-15 09:49] gregmolnar commented on #78
I think made this work. @amirrajan would you be open to use `motion-gradle` rather then `vendor_project` in `Flow` to manage dependencies? In my sample app if I do so, it nicely allows me to override them and use a newer version of them if necessary. If you are OK with it, I will open a PR on `Flow` and `motion-gradle` to make them work together.

[2017-12-15 17:37] #78 closed, assigned to nobody

[2017-12-15 17:38] amirrajan opened #79 "Flow + motion-gradle"

[2017-12-15 17:38] amirrajan commented on #78
related: https://github.com/amirrajan/rubymotion-applied/issues/79

[2017-12-15 17:40] gregmolnar commented on #79
I will try to get this done in the coming days.

[2017-12-17 17:28] amirrajan opened #80 "RubyMotion + GenyMotion + AWS"
- Make sure this works.
- Figure out the RM bits.
- Determine if a cool command can be added to `amirrajan/rubymotion-command` (ancillary RM commands).
- Have a walk through for everyone to follow.

I hope you are doing great. As agreed during our previous meeting, please find below information to get started with Genymotion on AWS.
Here are the links to the product on the marketplace : https://aw

[2017-12-18 14:20] hboon opened #81 "Annoying "Do you want the application "<APP NAME>.app" to accept incoming network connections message"
<img width="532" alt="screen shot 2017-12-18 at 11 41 14 am" src="https://user-images.githubusercontent.com/56189/34110417-921c1096-e441-11e7-91c7-11e47f1daef5.png">

Any way to get rid of it? :)

[2017-12-19 17:33] amirrajan commented on #81
The repl needs a port to connect through `/Library/RubyMotion/lib/motion/project/repl_launcher.rb`.

It specifically uses `DTXConnectionServices`: `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library/CoreSimulator/Profiles/Runtimes/iOS.simruntime/Contents/Resources/RuntimeRoot/Developer/Library/PrivateFrameworks/DTXConnectionServices.framework/DTXConnectionServ

[2017-12-19 17:34] amirrajan commented on #81
Can you set it to always allow?

[2017-12-20 14:10] hboon commented on #81
Adding DTXConnectionServices, Simulator.app and Xcode.app to the list in Preferences > Firewall > Firewall Options doesn't help. After hitting Allow in the dialog above, I notice that the app is added to that list. But the problem is (almost?) every time I build the app, it adds a new entry because a new app with a different UUID is created.

<img width="780" alt="screen shot 2017-12-20 at 10 09 2

[2017-12-23 17:15] hboon opened #82 "Support %i() and %I() notations for symbols"
%w() works, but not %i() and %I()

[2017-12-23 17:45] amirrajan commented on #81
Did you install XCode from the App Store? I'm not getting that notification (I downloaded it from developer.apple.com/downloads/more

[2017-12-25 11:04] hboon commented on #81
I downloaded it from that site too. Do you never get that notification? Firewall on?

[2017-12-28 05:58] amirrajan commented on #81
Ah. My firewall is off (router is my fire wall).

[2017-12-30 16:46] amirrajan opened #83 "Unrecognized runtime type `{_simd_quatf=}’ (TypeError"
http://community.rubymotion.com/t/unrecognized-runtime-type--simd-quatf-typeerror/2166/5

[2017-12-30 16:46] amirrajan opened #84 "Sample app showing how to use Firebase Firestore"
http://community.rubymotion.com/t/firebase-firestore/2255

[2017-12-30 16:49] amirrajan opened #85 "Pretty charts and graphs sample app"
http://community.rubymotion.com/t/chart-library-recommendations-due-to-swift-limitation/1871/2

[2018-01-02 16:18] amirrajan commented on #30
https://github.com/MarkVillacampa/rubymotion-realm

[2018-01-02 19:30] ben5516 commented on #42
@amirrajan @kastiglione Were you ever able to get the gem pushed?

[2018-01-02 19:39] Lax commented on #42
@kastiglione Use `gem owner <gem> -a <email>` command.
`gem help owner` for detail.

[2018-01-02 19:59] amirrajan commented on #42
@ben5516 this week hopefully.

[2018-01-02 20:12] kastiglione commented on #42
@ben5516 I looked to add @amirrajan as a gem owner via rubygems.org, but didn't see where to do that. Seems that's the only thing to do before @amirrajan can push an update.

[2018-01-02 20:13] kastiglione commented on #42
oh I just saw @Lax's comment. I'll do that.

[2018-01-02 20:17] kastiglione commented on #42
@amirrajan I have added you as an owner.

[2018-01-03 19:21] ben5516 commented on #42
Thanks @kastiglione

[2018-01-05 00:44] amirrajan commented on #42
@ben5516 , updated. Mind confirming?

[code]

[2018-01-10 19:55] ben5516 commented on #42
@amirrajan

Worked for me!

[2018-01-10 21:46] #42 closed, assigned to nobody

[2018-01-19 02:52] ben5516 opened #86 "Enumerator#next returns nil"
NB: I also submitted a bug report through rubymotion.com.

Possibly related to https://github.com/amirrajan/rubymotion-applied/issues/71

In MRI Ruby you can do:
[code]
But in RM, the same thing gives you:
[code]

This seems to be the case with all enumerators.
[code]

[2018-01-20 02:24] amirrajan opened #87 "High Sierra's Ruby 2.3.1 and `ripper` gem."
Related to: https://github.com/rubymotion/motion-support/issues/38

[2018-01-27 15:27] hboon opened #88 "REPL crash shortly after app is deployed to device using `rake device`"
RubyMotion 5.6
Xcode 9.2

Mentioned in Slack:

REPL crash shortly after app is deployed to device using `rake device`. Often (always?) the app continues to run on the device.

[code]

[]
Sometimes I see this in the REPL when it crashes:

```repl(13686,0x7fffb699a3c0) malloc: *** error for object 0xa0577d000000001: pointer being freed was not allocated```

[2018-01-28 05:20] hboon commented on #51
For such issues, do you want the community to write somewhere else and then provide a link or is there somewhere official?

[2018-01-28 05:35] hboon commented on #9
AFNetworking is good and AFMotion is great, but raw NSURLSession isn't that either too:

POST with NSURLSession in RubyMotion:
https://gist.github.com/hboon/5dc789454242e65434681b937ebc47e9

GET with NSURLSession + Basic Auth in RubyMotion
https://gist.github.com/hboon/15c093ec315019919e0a9185b2312f11

[2018-01-28 23:27] amirrajan commented on #51
If it's written here, it'll make it on to rubymotion.com/rubymotion-applied (when I get that wired up).

[2018-01-29 15:30] hboon commented on #51
For Obj-C:

1. $ motion create rm-static-lib

2. Add foo.rb to your RubyMotion project:

[code]

3. $ rake static

4. Copy rm-static-lib-universal.a into Xcode project directory

5. Add (drag) rm-static-lib-universal.a into Xcode project

6. Click on project in Xcode, Target, Build Phases, under Link Binary With Libraries, add:

* libstdc++.tbd
* libicucore.tbd

7. Rename your AppDelegate class, t

[2018-02-01 07:05] hboon opened #89 "Crash when call-ing proc stored as accessor in UIDocument subclass"
I have a UIDocument subclass in which I have added an accessor for storing a proc. When the proc gets `call`-ed, it crashes consistently. I *have* another similar accessor storing another proc in this same subclass and it doesn't crash. The difference is that the crashing proc gets called when the `UIDocument`'s `documentState` property is `UIDocumentStateClosed`.

Code snippet below:

[code]

[co

[2018-02-01 19:50] amirrajan commented on #89
Is this only an occasional annoyance or is it severely hindering your work?

[2018-02-02 03:11] hboon commented on #89
It was a showstopper until I realised that I can workaround it by not invoking the proc when `documentState` == `UIDocumentStateClosed`. So it appears to not bother me for now.

[2018-02-02 03:38] amirrajan commented on #89
On the list (thanks for a consistent way to recreate).

[2018-02-04 07:35] #47 closed, assigned to nobody

[2018-02-04 07:35] #69 closed, assigned to nobody

[2018-02-04 07:35] #75 closed, assigned to nobody

[2018-02-12 17:44] amirrajan commented on #58
https://osquery.io/ this may end up being useful.

[2018-02-17 15:16] amirrajan opened #90 "IAP Guidance"

[2018-02-19 14:49] amirrajan commented on #68
Hopefully final High Sierra issues affect apps that have set `  app.detect_dependencies = true
` to false (don't do this unless you know what you're doing). The following patch to `/Library/RubyMotion/lib/motion/project/dependency.rb` will be added to help you find circular dependencies, but you can apply it yourself right now if you want.

[code]

[2018-02-19 14:52] amirrajan commented on #76
This: https://github.com/amirrajan/rubymotion-applied/issues/68

Could have been patched out of band if `motion-build` existed.

[2018-02-20 21:52] amirrajan opened #91 "Crash course on unpacking Objective C macros so you can use the non-macro version in RubyMotion"
Some Objective C samples out there leverage c macros. For example:

[code]

This is from Masonry.

The `equalTo` is a macro defined as:

[code]

Ruby devs may not be familiar with how to leverage non-macro versions of the above.

Some guidance would be helpful.

[2018-02-20 22:08] amirrajan commented on #91
It would also help to have a how-to for viewing macro expansions in general. [Relevant link](https://stackoverflow.com/questions/7606844/is-there-a-way-to-check-how-a-macro-expands-in-c-or-objective-c)

[2018-02-20 22:14] amirrajan opened #92 "Retain cycle between two blocks"
From Slack:

[code]

[code]

[code]

[2018-02-21 15:28] amirrajan commented on #92
[code]

[code]

GitHub
hboon/purplish-accessors
purplish-accessors - Add variations of attr_accessor for RubyMotion for iOS & macOS

This:

[code]

[2018-02-21 16:03] hboon commented on #92
Ah. Made a typo. Should be: “So Parent retains Child and Child retains Parent too”.

[2018-02-21 16:07] amirrajan commented on #92
@hboon gave you collaborator access.

[2018-02-25 17:11] amirrajan opened #93 "Create a foreign function interface to a widely supported C++ implementation of Sets"
Need a cross-platform implementation of the `Set` data structure. Finding a solid, standalone C++ version (or pure C version), and creating a foreign function interface to it would be best I feel.

Take a look at this code to understand how to create an FFI: https://github.com/HipByte/motion-game/blob/master/src/rubymotion.h and https://github.com/HipByte/motion-game/blob/master/src/sprite.cpp

[2018-02-26 16:30] wndxlori commented on #93
Implementing a foundational data structure like this has some profound performance aspects. And it’d have to be maintained. Your original thought (from the Slack group) to go with NSSet sounded good to me. To be cross-platform, we could use Java’s HashSet. And then layer over the top of those with the MRI standard library’s Set api, to ensure Ruby dev’s are comfortable/happy with it. We could even

[2018-02-26 16:36] amirrajan commented on #93
Agreed. I'd say that we'd reference an (already) widely supported C/C++ version. General rule for me is to "go as low as possible" when it comes to "core" pieces (C > C++ > Objective C/Java > Ruby > RubyMotion).

[2018-02-26 16:37] amirrajan commented on #93
If there isn't a good candidate for these core data structures, then yes, I'd say an NSSet/HashSet polyfill would be best.

[2018-02-26 16:42] amirrajan commented on #93
Mixed feelings about this. If we end up using a lower level C API, it's much simpler to have a 1 to 1 relation between the two (I understand that there would be incompatibilities... but it might be worth addressing those as they come as opposed to upfront).

[2018-02-26 16:53] wndxlori commented on #93
As far as C++ goes, no one’s gonna build one, when the STL already has one. I did a quick perusal last night, and didn’t find a C lib. Admittedly, it’s been a long time since I was a hard core C developer, so I might not be looking in the right places.

[2018-02-26 17:41] amirrajan commented on #93
Same results for me.

[2018-02-26 18:49] amirrajan opened #94 "More trouble shooting docs that would be good to clean up and publish"
Convo on Slack:

Awesome Dev [10:26 AM]
Hi Amir, thanks for getting back to me!

Amir Rajan [10:28 AM]
Hey!!
So quick info about your background as a ruby dev? Beginner, Intermediate, Expert?

Awesome Dev [10:30 AM]
beginner, just completed a web dev course where we used it

Amir Rajan [10:30 AM]
gotcha
Just to make sure, you are on a Mac?

Awesome Dev [10:30 AM]
yessir

Amir Rajan [10:30 AM]
:tad

[2018-02-26 19:02] amirrajan commented on #94
related: https://github.com/amirrajan/rubymotion-applied/issues/58

[2018-03-01 21:20] astechishin commented on #58
# C Functions and Graphics Context

Most Ruby devs do not consider the () after a function necessary. However for certain bridges to the underlying frameworks it is necessary to include the parentheses. It would be helpful to pick this error:

`drawRect:': uninitialized constant Xxxxx::UIGraphicsGetCurrentContext (NameError)`

When the () is missing from a call to UIGraphicsGetCurrentContext

[2018-03-03 22:28] amirrajan opened #95 "Sample app that shows how to integrate Stripe"
http://community.rubymotion.com/t/problem-building-the-stripe-cocoapod/24

[2018-03-06 01:20] amirrajan commented on #95
The following line throws an exception for Stripe (looks like the project parsing isn't perfect): `/Library/RubyMotion/lib/motion/project/vendor/xcpretty_printer.rb`

[2018-03-12 18:24] andrewhavens opened #96 "High Sierra issues with symlinking Toolchain directory"
You might run into this issue when running Mac 10.13 (High Sierra), Xcode (installed via the Mac App Store), and RubyMotion 5.7:

[code]

Mixed into this long block of text is a helpful message:

[code]

(It would be nice if this message was formatted like the other kinds of RubyMotion error messages so that it would be easier to read).

However, this issue can also cause another issue to happen.

[2018-03-15 02:21] amirrajan opened #97 "Take screenshot across devices to make sure ui layouts look good on all device sizes"
Maybe grid layout, rulers, etc.

[2018-03-15 02:53] hboon commented on #97
Screenshots for the app store? Or taking screenshot in-app?

[2018-03-15 03:37] amirrajan commented on #97
For a bit more context, we usually test in the simulator on one device size, but it would be nice if other devices were spun up (almost in a headless mode), and a screenshot taken of the "other" devices so you can see at a glance if everything lines up okay.

[2018-03-15 04:45] hboon commented on #97
I thought about this but not sure if it's feasible:

Test on the biggest device (iPad Pro if universal, else iPhone 8/X) and then having a command to reduce the size of the UIWindow to match the screen sizes of smaller devices. If the UI is coded correctly, we ought to be able to test all the screen sizes easily.

[2018-03-15 14:18] amirrajan commented on #97
I wonder if you can fit an iPhone 8/X/and 5 in one iPad. Have the same UI view show up in the simulator in three side by side subviews 😬

[2018-03-19 14:31] amirrajan opened #98 "Save to iCloud sample app"
A sample app showing how to save to iCloud.

[2018-03-19 14:39] amirrajan commented on #98
[code]

[2018-03-25 07:59] jeremiahlukus commented on #32
I am going to get this up within the next week or so (hopefully, with a screencast), once done I'll add you to the repo to see if you want to make adjustments.

[2018-03-26 02:02] cmckni3 commented on #85
Do you know what that issue referenced @amirrajan?

[2018-03-26 02:03] cmckni3 commented on #85
Actually, I found it at http://104.236.157.50/t/chart-library-recommendations-due-to-swift-limitation/1871

[2018-03-26 18:45] andrewhavens opened #99 "`rake crashlog` does not open the most recent crash report"
Both `rake crashlog` (simulator) and `rake crashlog:device` often do not open the latest crash report. In the case of `rake crashlog:device` it logs the file path of the reports that it could pull from the device, so I can at least manually open the file, but in the case of the simulator, it does not log the path, so it's not clear how to open the latest crash report. I'm not sure if this has anyt

[2018-03-27 01:00] amirrajan commented on #99
Might be related to: https://github.com/amirrajan/rubymotion-applied/issues/17

[2018-04-01 21:53] #68 closed, assigned to nobody

[2018-05-01 20:39] bwalton commented on #84
Alright, I don't have a sample app, but I'd like to share my Firebase adventure...

My app makes heavy use of Firebase (Database and Cloud Firestore) so while keeping those pods correctly installed wasn't a huge deal, it was always a risk to make any big changes in my setup. Unsurprisingly, when I upgraded to High Sierra and rebuilt my app, Firebase wasn't happy. It seemed that libraries required

[2018-05-17 15:56] johanparin opened #100 "Scope issue with blocks"
I'm seeing an issue where the parameter to the block overwrites a local variable with the same name. I don't know if this is simply a Ruby version issue or if it is a rubymotion bug. Anyways, I wanted to share and get your opinion. Here is an example:

[code]

I would expect this to output 10, which is indeed what I get using Ruby 2.4.4. In rubymotion I get 3.

Comments on this?

/Johan

[2018-05-18 00:26] amirrajan commented on #100
Confirmed 👍

Thanks for the report.

[2018-05-18 03:04] hboon commented on #100
FWIW, I think this has been around forever in RM.

[2018-05-18 03:50] amirrajan commented on #100
It's low priority yes. But at least it's on the books.

[2018-05-18 03:54] hboon commented on #100
I don't mind. Encourages shorter methods :)

[2018-05-22 20:15] casper91 opened #101 "Standard Frameworks iOS template"
It seems like there are some standard frameworks that are loaded using [ios-template](https://github.com/amirrajan/rubymotion-templates/blob/master/motion/project/template/ios/config.rb#L39)

Perhaps this should be more explicit in the in the `Rakefile` of the project?

Maybe you don't want some of them (maybe they have to be there in order to work).

However while hacking I just kept thinking, wh

[2018-05-22 20:26] casper91 opened #102 "Best practice subclassing iOS"
I was wondering what the "best practice" for subclassing would be.

Example:
[code]
`tile = TileView.alloc.init(letter, tile_side)`

This `alloc` annoys me bit and isn't very Rubyish. This might be something I have to adapt to.

When using `alloc` do I also have to `dealloc` to free memory when not used anymore or is this happing automatic?

[2018-05-22 20:56] wndxlori commented on #102
As long as you don’t leave any strong references around, it’ll get cleaned up

[2018-05-22 21:19] andrewhavens commented on #102
@casper91 In this case, I think you should override the `new` class method:

[code]
Then you can call `TitleView.new(letter, tile_side)`

[2018-05-22 21:45] astechishin commented on #101
What frameworks do you believe are unneeded by most apps?

I usually find the docs tell me when I need to add a framework (such as CoreData or CloudKit or AVKit)

[2018-05-23 04:45] hboon commented on #102
Probably a better of style, but I would suggest not to override or implement any kind of #new(x), #new(x, y, etc) variations other than `#new()` (no args) with objects that are bridged from Cocoa (Touch). Do exactly the same thing as @andrew suggsted, but name the method something else, say:

1. `def self.new_with_letter(letter, side_length)` or
2. `def self.create_instance(letter, side_length)` o

[2018-05-23 09:15] casper91 commented on #101
My concern was more, instead of the `Rakefile` containing:
[code]
It could say something like:
[code]
Because I was using a lot of UIKit stuff and couldn't figure out why it worked without me adding it to the frameworks. Until I found them in the template.

[2018-05-23 09:34] casper91 commented on #102
What does a strong reference look?

Is there some documentation around `WeakRef.new`, `#alloc.init`, `#new` and  strong ref. Not sure i completely understand how it works with RM?

Looks good I will try combine the suggested approaches.

[2018-05-24 00:43] amirrajan commented on #101
@casper91 PR welcome. Just change this line: https://github.com/amirrajan/rubymotion-templates/blob/master/motion/project/template/ios/files/Rakefile.erb#L46

[2018-05-27 17:25] casper91 commented on #101
Has been merged: https://github.com/amirrajan/rubymotion-templates/commit/f2396af90be0c56bfa3f1c91eb70af919703b74a

[2018-05-27 17:25] #101 closed, assigned to nobody

[2018-05-30 01:47] amirrajan opened #103 "Really long crash log lines are being truncated"
Crash logs for really long gem paths are also being truncated. For example if you use `rbev` install ProMotion. Go to the promotion source locally and `raise` an exception, you'll get a crash log in the repl but the far right side (because of a long path name), is missing.

[2018-05-30 02:19] digitalmoksha commented on #103
Maybe related to #17 ?

[2018-05-31 18:00] #102 closed, assigned to nobody

[2018-07-02 21:52] andrewhavens opened #104 "Assertion failed: (!NIL_P(exc)), function push_current_exception, file vm.cpp, line 4311."
[code]

[2018-09-17 23:25] EddieDee commented on #104
@andrewhavens What did you do to overcome this?

[2018-09-17 23:59] andrewhavens commented on #104
@EddieDee I don't remember exactly, but I think I was calling a invalid method on a Cocoa class.

[2018-09-19 04:42] amirrajan commented on #104
@EddieDee make sure you are including the correct Cocoa frameworks in the Rakefile.

[2018-09-19 04:44] amirrajan commented on #104
If you have a sample app/repro steps, I can dig and see what's going on.

[2018-09-23 17:07] caramdache opened #105 "Cyclical dependencies warning"
It's been a while since I compiled one of my projects and it suddenly raises warnings for possible cyclical dependencies. A while later, CoreData complains that some dynamic accessors cannot be resolved.

[code]

Intriguing, because these issues were never raised before by earlier version of RM. All the more intriguing that another project that follows a similar template (same class structure, sam

[2018-09-23 17:14] caramdache opened #106 "GoogleAnalytics crashes RM gen_bridge_metadata"
I have been using GoogleAnalytics with RM for years without any issue and suddenly it crashed RM immediately after running `rake`. I downloaded the latest version of GA, but RM still crashes.

It looks like the issue is in gen_bridge_metadata.

[code]

[2018-09-24 11:51] amirrajan commented on #106
What's the name of the cocoapod and version?

What function are you invoking?

[2018-09-24 11:53] amirrajan commented on #105
The cyclical dependency warning was added last as part of the build process to bring attention to them. Your project may have always had them (or gems you depended on), this just brings them to light and become more important if you end up monkey patching classes that have cyclical dependencies.

[2018-09-24 11:54] #105 closed, assigned to nobody

[2018-09-24 16:59] caramdache commented on #106
Hi Amir,
I don't use pods in this instance, I downloaded the latest version (3.17) at:
[code]

Here are the methods that I use:
[code]

[2018-09-24 17:13] caramdache commented on #105
I've been trying to understand the error message and so I've included the code that you published earlier at: [https://github.com/rubymotion/motion-support/issues/38#issuecomment-366676898](url).

However, in `cyclic?`, only file paths are available. Is there any way to find out the class(es) that trigger the cyclic dependency?

Besides, when I use `defined?`, RM print a duplicate warning for that

[2018-09-24 18:08] amirrajan commented on #106
Is there a possibility that you can put up a sample app that includes the sdk in the `./vendor` directory as you are doing?

Aside: double check and make sure that any cached files are removed from `~/Library/RubyMotion/build`.

[2018-09-24 18:12] amirrajan commented on #106
And if you can share the output of `rake config` that would be helpful too.

[2018-09-24 18:35] amirrajan commented on #106
Also, it seems like Google is deprecating "everything" (eg Crashlytics) and putting it all into their Firebase SDK. Just something to look out for.

[2018-09-24 20:44] andrewhavens commented on #96
Pretty sure this has been resolved, so I'm going to close this issue.

[2018-09-24 20:44] #96 closed, assigned to nobody

[2018-09-24 22:57] amirrajan commented on #105
Applying the following patch will give you the full graph: https://github.com/infinitered/ProMotion/issues/810

There is also this gem that will let you visualize your dependencies: https://github.com/emad-elsaid/rubrowser

[2018-09-25 09:31] caramdache commented on #105
Thanks for the pointers. [https://github.com/infinitered/ProMotion/issues/810](url) only displays dependencies between files, NOT classes, as far as I can see.

`rubrowser` is excellent, thanks! However, it does not show any dependency between `EventsController` and `AboutController`. However, RM points out a circular dependency between `./app/events_controller.rb` and `./app/about_controller.rb`.

[2018-09-25 09:53] caramdache commented on #105
`run` seems like a more appropriate place to display the warning, as there can be multiple classes per file. Here is a suggested patch:

[code]

[2018-09-25 16:54] caramdache commented on #106
Here is a sample project that demonstrate the issue. [ga.zip](https://github.com/amirrajan/rubymotion-applied/files/2416171/ga.zip)

Inside the projet, there is a file called `rake.config`. It is the output of `rake config`.

Thanks for the tip, I'll have a look at Firebase (again).

[2018-09-27 11:58] caramdache commented on #106
BTW, using `pod 'Firebase/Core` will also create an expection in gen-bridge-metadata.

[2018-09-27 17:15] amirrajan commented on #106
I'll take a look this weekend and get you an update 👍

[2018-09-27 17:18] amirrajan commented on #106
@caramdache are you on High Sierra or Mojave?

[2018-09-27 19:24] caramdache commented on #106
Mojave of course.

[2018-09-30 07:52] amirrajan commented on #106
Mind joining this Slack discussion (if you're not already a part of it)? https://motioneers.slack.com/archives/C055RDLS0/p1537915072000100

[2018-09-30 07:55] amirrajan commented on #105
@caramdache are you monkey patching any gems you depend on?

Make sure you are including files in both `app` and `lib`

[2018-09-30 19:48] astechishin opened #107 "Apple TV Simulator fails to run"
When creating a new project (or recompiling an existing project) running rake is causing the tvOS 10 simulator to run even though the project is compiled with tvOS 11 or 12. The REPL then fails to connect to the simulator and the application crashes

[2018-09-30 19:51] astechishin commented on #107
The hard-coded simulator name (line 111 in tvos.rb under templates) needs to change to "Apple TV" from "Apple TV 1080p"

[2018-09-30 19:56] astechishin opened #108 "Apple TV projects do not use new local templates directory"
Apple TV projects need to use the local templates directory (located in: ~/.rubymotion/rubymotion-templates/motion/project)

[2018-09-30 20:05] astechishin commented on #108
The Rakefile ERB template needs to add the line:
[code]
After line 2

[2018-09-30 20:10] astechishin opened #109 "Mac OS projects do not use the new local templates directory"
Mac OS projects are not using the new local templates directory (located under ~/.rubymotion/rubymotion-templates/motion/project).

[2018-09-30 20:13] astechishin commented on #109
The Rakefile ERB template (osx/files/Rakefile.erb) needs to add the line:
[code]
After line 2

[2018-09-30 21:48] astechishin commented on #98
I am working on a sample CLoudKit app, would this help?

[2018-10-01 08:47] amirrajan commented on #98
@tmillican may have something to contribute to this too.

[2018-10-01 08:49] amirrajan commented on #109
Worth noting that currently this template is the same in both RubyMotion and here (which is why the additional load url isn't there).

[2018-10-01 08:49] amirrajan commented on #108
This is fixed with the latest PR acceptance?

[2018-10-01 08:49] amirrajan commented on #107
This is fixed with the latest PR acceptance?

[2018-10-01 09:26] amirrajan commented on #80
I gave this a shot. The simulator is way too slow on AWS. Not viable.

[2018-10-01 09:26] #80 closed, assigned to nobody

[2018-10-01 09:30] amirrajan commented on #106
Related and may fix your issue. Mind trying it? https://trac.macports.org/ticket/54939

Run the following command:

[code]

[2018-10-01 11:16] astechishin commented on #107
Yes

[2018-10-01 11:16] astechishin commented on #108
Yes

[2018-10-01 11:18] astechishin commented on #109
But it should be that same as the others, correct?

[2018-10-01 15:23] amirrajan commented on #106
Here is what we are doing in the Slack channel right now (you may want to try it and see if it works for you):

- clone repo: `https://github.com/amirrajan/bridgesupport`
- make sure you have `rbenv` installed
- `make`
- `sudo make install DESTDIR=/Library/RubyMotion/lib/BridgeSupport2`
- `cd /Applications/Xcode.app/Contents/Developer/Toolchains`
- `sudo ln -s XcodeDefault.xctoolchain OSX10.14.xct

[2018-10-01 15:25] amirrajan commented on #109
I've only been adding the override if there is actually a difference between the templates that are shipped and the ones in the public repo (as of recent, that was only iOS... now TVOS too).

[2018-10-01 15:26] #108 closed, assigned to nobody

[2018-10-01 15:26] #107 closed, assigned to nobody

[2018-10-01 15:32] astechishin commented on #109
Sorry, I thought this was the standard. But I believe this will be necessary for when I add the icon generate for macOS projects (something I have planned for the near future).

[2018-10-01 18:15] amirrajan commented on #106
The following steps should resolve your issue. After I've tested it, it'll be part of RubyMotion vNext (which I'll release ASAP): https://gist.github.com/Atastor/2e85ee4fab03aaab391594b6fa769931

[2018-10-03 11:21] caramdache commented on #106
Thanks Amir, I'm on slack now. Recompiling BridgeSupport is a huge endeavour. I will wait for RM's next release to be available.

[2018-10-03 11:29] caramdache commented on #105
No, but I'm monkey patching quite a few UIKit classes by myself. This is what the `lib` directory is for.

[2018-10-04 14:42] caramdache commented on #21
Hmm, I'm confused, @hboon's suggestion from Oct 2017 for `app.info_plist['CFBundleIcons']` does not seem to have made its way into the default template.

[2018-10-04 14:44] caramdache commented on #21
BTW, I case this is of interest, I've just created an Asset catalog for iOS 12 using XCode 10, then backported to RM. It includes the latest and greatest devices (XR, XS, XS Max).

[code]

[2018-10-05 13:54] amirrajan commented on #21
cc @astechishin

There is a new rake task called `icons` that may help with this: https://github.com/amirrajan/rubymotion-templates/pull/10

[2018-10-06 07:13] amirrajan commented on #106
try this out: https://www.dropbox.com/s/ixryj9ne9o7c83h/bridge_support_2.tgz?dl=0

just back up what's under `/Library/RubyMotion/lib/BridgeSupport2` and replace the contents with what's under the tarbal

[2018-10-06 07:22] amirrajan commented on #106
after copying the following files over, run:

[code]

[2018-10-06 07:35] amirrajan commented on #105
Are any of the libraries that you depend on also monkepatching the same UIKit libraries?

I don't think it'll be an issue given that it's all UIKit related. If you want you can email me at ar@amirrajan.net or DM on the Slack and I can help with your private repo.

[2018-10-06 15:45] caramdache commented on #21
@amirrajan, excellent, thanks !

[2018-10-06 16:02] caramdache commented on #106
It's much better now, thanks !

This constant is no longer defined though and causes a crash:
[code]

Here's how it's defined in GoogleAnalytics:

[code]

[2018-10-08 07:14] amirrajan commented on #106
Take a look at the generated bridgesupport file and see if its in there.

The bridgesupport files should be under `~/Library/RubyMotion/build`

[2018-10-21 14:29] calicoday opened #110 "Apple Watch guide errors"
Following the Apple Watch guide, I’ve got a simplest watchos app running but there were a few snags/hazy bits….

1/ in section 1,  para 2, it says

but that should be “… in the parent app’s directory”. Maybe better, “… in the parent iOS application’s project directory” (verbose but it’s the first named location)

2/ early in section 2, we do

[code]
Further on it says

[code]
but we’re already/sti

[2018-10-22 20:36] jlmuir opened #111 "Bad Motion Toolbox link in website Gems page"
The [RubyMotion Gems page](http://www.rubymotion.com/developers/gems/) contains a [Motion Toolbox link](http://motion-toolbox.com/) which seems to no longer land at the expected Motion Toolbox website. Perhaps the owner (@clayallsopp, I think, given the [Motion-Toolbox website repo](https://github.com/clayallsopp/motion-toolbox.com)) retired the site, did not renew the domain, or something else. (

[2018-10-23 07:38] amirrajan commented on #111
I'm leaning towards removing the link. What are your thoughts?

[2018-10-23 16:08] jlmuir commented on #111
I was hoping someone would say the site is not dead.  I found the site to be quite useful.  For example, it's where I found Clay's [motion-env](https://github.com/clayallsopp/motion-env) gem.  I think having a curated list of of RubyMotion gems is really nice.

I guess if no one wants to keep the site going, maybe even a Markdown document hosted on GitHub or something would still be useful.  Hmm,

[2018-10-23 16:19] hboon commented on #111
FWIW. I remember mipmip from the Slack channel. Not sure if he's still active there.

[2018-10-23 16:58] andrewhavens commented on #111
We were having a [conversation about this issue in Slack](https://motioneers.slack.com/archives/C055RS0VA/p1539896455000100). We agreed that we would like to continue to have some sort of RubyMotion Toolbox site, but I don't think @clayallsopp is interested in continuing to maintain it since the motion-toolbox.com domain expired. An easy fix would be to point toolbox.rubymotion.com to the existing

[2018-10-23 18:23] amirrajan commented on #111
For me, I feel that the only frameworks I tend to recommend are motion-support, ProMotion, and motion-provisioning. Outside of that I try not to take on any more work 😬

[2018-10-23 23:30] digitalmoksha commented on #111
Hmm, are we not recommending BubbleWrap or Sugarcube anymore? 🤔

[2018-10-24 10:47] amirrajan commented on #111
I see bubble wrap and sugar cube as receipe books and just pull snippets out of them. But you’re right. I’d totally recommend bubble wrap and sugar cube too.

[2018-10-25 07:16] amirrajan commented on #106
I've released a beta: https://s3.us-east-2.amazonaws.com/amirrajan-public/RubyMotion+5.15.pkg

Mind giving that a shot?

[2018-10-25 19:23] caramdache commented on #106
Hmm... looks bad. A simple app that I was working on these past 2 weeks now raises this error when running rake. I did a `rake clean:all` first of course. This happening at link phase.

[code]

[2018-10-26 13:00] bolandross opened #112 "RubyMotion macOS App Icon in template seems to be missing transparency / alpha channel"
I noticed that the macOS template for RubyMotion projects uses an app icon with no transparency, so it looks quite bad in the macOS dock.

![macos dock](https://user-images.githubusercontent.com/5481702/47567764-b6e5bd80-d92f-11e8-8383-c758ea525f45.png)

In the RubyMotion installer and iOS variant, the icons seem to be fine.

[2018-10-26 19:18] Red-Menace commented on #112
I finally got around to starting up my [RubyMotionBits repository](https://github.com/Red-Menace/RubyMotionBits) (trying not to embarrass myself too much, I don't do this stuff for a living).  It has a few macOS icon asset catalog resources you can use, including that base RM icon that I fixed with an alpha channel.

[2018-10-26 19:44] digitalmoksha commented on #112
@Red-Menace very cool!  Thank you for sharing!

[2018-10-27 07:04] caramdache commented on #106
HELP Amir! How do I go back to a version that compiles? Is there a package I can download? I am stuck now.

[2018-10-27 13:41] caramdache commented on #106
Work around until there is a fix:
- I removed `EventKit` from `app.frameworks`. This means I won't be able to submit apps though, but at least I can compile.
- I commented out an extension of `NSString` which uses `rangeOfString` and tests if the result is `NSNotFound`. Weird that this is no longer defined although it is still in the method definition ([https://developer.apple.com/documentation/fo

[2018-10-28 20:50] amirrajan commented on #106
beta 2: https://s3.us-east-2.amazonaws.com/amirrajan-public/RubyMotion-5.15-beta-2.pkg

[2018-10-29 20:37] ediathome commented on #112
Just added a pull request to the templates repository with a transparent version...

[2018-10-31 11:00] savytskyi opened #113 "Crashes inside third-party libraries on Mojave (e.g.: afmotion)"
OS: Mojave
Ruby version: 2.5.3 (however tested on 2.4.x and 2.3.7, same problem)
RM: 5.15 beta 2
Example repo: https://github.com/savytskyi/rubymotion-bug

Problem: app compiles well, but started to crash in weird places when it never crashed before. For example, when using 3rd party libraries like AFMotion:

[code]

[2018-11-01 05:08] amirrajan commented on #113
Just to rule other things out. Can someone try Xcode 10.0 on High Sierra with RM 5.14 (last RM stable release)?

[2018-11-01 21:13] eamonn-webster commented on #113
I downloaded the rubymotion-bug repo

macOS: 10.13.6 (17G3025)
rubymotion: 5.14
Xcode: Version 10.0 (10A255)

Apart form having to add the following it all worked fine.
  app.info_plist['NSAppTransportSecurity'] = {'NSAllowsArbitraryLoads' => true}

I then tried `rake clean:all` and `rake pod:install` and it is still good.

as an aside, why do people include `vendor/Pods` in their repos?

[2018-11-04 04:19] wndxlori commented on #113
I'm working off my own repo (I shared it with you Amir, swapi-potion).  5.14 works fine.  5.15 does not.

And I've even confirmed it's not something squirrelly with AFMotion gem itself.  I removed that gem and just coded directly against the AFNetworking pod, and it works in 5.14 and fails in 5.15. Perhaps this is a CocoaPods problem?

Anyway, mine fails without a traceback, but I'm attaching the

[2018-11-04 05:01] wndxlori commented on #113
Here's a fork of @savytskyi's repo stripped down, and only using AFNetworking.  Same.  5.14 works, 5.15 is busted. https://github.com/wndxlori/rubymotion-bug/tree/afnetworking-version

Oh, ya.  High Sierra.

[2018-11-04 05:23] wndxlori commented on #113
Just for laughs, I updated AFNetworking pod to latest, greatest version - 3.2.  Same result.

[2018-11-06 23:12] spnkr opened #114 "[BUG] Segmentation fault in gen_bridge_metadata when running rake on Xcode 10--should I update to 10.1?"
I'm getting this error with 5.15 and Xcode 10.0/Mojave. I saw on slack that xcode 10.0 is better supported than 10.1 at the moment. Is this true? Should I try updating to xcode 10.1?

[code]

[2018-11-07 11:35] amirrajan commented on #114
The current workaround is to disable SIP on your Mac. I'm working on a patch where every execution of `gen_bridge_metdata` is prefixed with `DYLD_LIBRARY_PATH=/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/lib`. I'll have more information by next week on this (for play by play updates come to the Slack channel).

[2018-11-07 13:52] spnkr commented on #114
Ok, awesome that you're working on it. csrutil disable didn't fix the issue for me, but I'll try upgrading to xcode 10.1 and see if that helps. I'll post the rest of the discussion on slack. thx @amirrajan !!

[2018-11-09 22:03] torben commented on #99
@andrewhavens I did notice, that sometimes I have to wait until the black screen (after the crash) in the iOS simulator is gone and the home screen appears again. Then I'm able to run `rake crashlog` with the last crash report. This helps me 100% of the times, but I don't know why this happens in the first place.

[2018-11-09 22:08] andrewhavens commented on #99
@torben After I originally reported this error (not opening the latest crash report, but rather some older crash report), I learned that the cause was due to a change in how directory "glob" listings are sorted. I assume the behavior was to sort the files in the directory and pick the last one, but the problem is probably in not sorting correctly.

[2018-11-18 20:07] bolandross commented on #112
Are there any news regarding this?

[2018-11-18 22:02] Red-Menace commented on #112
The pull request mentioned earlier adding a transparency was committed.  You can use **motion repo** to update your local templates (or download/clone the template repository).

[2018-11-19 14:33] bolandross commented on #112
That's great news, thank you!

[2018-11-19 14:33] #112 closed, assigned to nobody

[2018-11-27 11:36] calicoday opened #115 "Vector_int2 trouble in GameplayKit GKGridGraph"
Can’t seem to make `GKGridGraph` or `GKGridGraphNode` work because the position needs to be supplied as a `vector_int2` and they’re getting garbled somehow.

In app `simplest-mac`, generated by `motion create simplest-mac —template=osx` and adding `app.frameworks << "GameplayKit”` to the Rakefile, I stick the following chunk in `AppDelegate` after `buildWindow`:

[code]

then `rake` gets:

[code]

[2018-12-11 22:53] dagosi opened #116 "Android: Documentation improvement for fresh starters"
I recently started using RubyMotion, and it was't as easy as the documentation stated. I had to make use of the Slack channel to ask for help, and Amir jumped to the rescue.

I was getting this error:
[code]
As you can see, it does not say very well what the issue was (well... a non-existent directory/file, but why?) Not to mentioned that I followed step by step the tutorial on the website.

After

[2018-12-13 10:04] CyrilFind commented on #116
I am also discovering RubyMotion, but with an old project I'm picking up and trying to build, and the error messages were not very clear too:

[code]
I have now understood a few things thanks to @amirrajan  😄

First, I had to bump the `api_version` to one that is actually supported by rubymotion (`22` here)

Also, the building step causing problems was the loading of lib jars, so I removed them fr

[2018-12-16 21:30] amirrajan opened #117 "Sample tests written with Bacon"
Here are some sample tests written with bacon. Feel free to add your own.

[2018-12-16 21:30] amirrajan commented on #117
[code]

[2018-12-16 21:31] amirrajan commented on #117
[code]

[2018-12-17 02:09] katsuyoshi opened #118 "watchos: ERROR ITMS-90733: Missing architecture"
A message "ERROR ITMS-90733: Missing architecture" has appeared when I upload the app to the iTunes connect.
The app includes watchos target.

Uploading is succeeded if I remove the watchos target.
There is something wrong with watchos target I think.

Environment:
- RM 5.16
 - Xcode 10.1

First, I put configuration of Rakefile for watchos is below.
It has succeeded so far.

[code]

Next, I specif

[2018-12-18 21:55] amirrajan commented on #118
Try these:

[code]

[2018-12-18 22:07] cmckni3 commented on #118
Looks like a new architecture was introduced called `arm64_32`. My watchOS 5.1 project contains `arm64_32 armv7k`.

[2018-12-19 02:31] katsuyoshi commented on #118
Thank you @amirrajan

I tried it to Rakefile for iPhoneOS and/or WatchOS.
(UIRequiredDeviceCapabilities is not supported for WatchOS)

But the result is the same things.

And I tried it to WatchOS.
But same.

[code]

[code]

[2018-12-19 07:13] cmckni3 opened #119 "watchos: v1 apps are no longer supported even though on latest RM and template"
[code]

[2018-12-19 07:27] cmckni3 commented on #119
XCode updates 🙃

[2018-12-19 07:27] #119 closed, assigned to nobody

[2018-12-26 16:31] katsuyoshi commented on #118
I investigate using lipo command.

[code]

| Build | iPhone App | WatchKit App | WatchKit Extension |
|:--|:--|:--|:--|
| Xcode | arm64 | arm64_32 armv7k | arm64_32 armv7k |
| RubyMotion| arm64 | arm64_32 armv7k | armv7k |

Missing arm64_32 for WatchKit Extention.

[2018-12-28 00:06] amirrajan commented on #118
I'll address this in the next release. Sorry for the delay (holidays are crazy).

[2018-12-28 00:07] amirrajan commented on #118
@katsuyoshi would you mind emailing me so I can get you a beta release (for testing purposes)?

[2018-12-28 14:42] amirrajan opened #120 "Good questions asked by @raguten in Slack. Here's the screenshots (need to be transcribed)."
![image](https://user-images.githubusercontent.com/517055/50518709-a3b0b480-0a7c-11e9-910e-da1edec99591.png)

![image](https://user-images.githubusercontent.com/517055/50518718-af03e000-0a7c-11e9-84ca-604bbd905494.png)

![image](https://user-images.githubusercontent.com/517055/50518724-b9be7500-0a7c-11e9-9082-e52fbb1fc127.png)

![image](https://user-images.githubusercontent.com/517055/50518737-c77

[2019-01-10 22:35] jeremiahlukus commented on #120
Question: Does rubymotion work only on OSX ?
Answer:  Yes, only OSX, there are no plans to have RubyMotion work on Windows or Linux.

Question: What If I am interested in developing on WSL/Linux and deploying to Android?
Answer: If you want to use WSL/Linux and are interested in Android only, but still want to use Ruby, take a look at Ruboto (keep in mind that Ruboto is not native so performance s

[2019-01-10 22:47] jeremiahlukus commented on #116
[RubyMotionSetup.pdf](https://github.com/amirrajan/rubymotion-applied/files/2747314/RubyMotionSetup.pdf)

Here is something @wndxlori typed up I grabbed in the slack channel awhile ago.
I am on a new computer so I will edit when I reinstall Andriod. Just dropping this here in the meantime.

[2019-01-11 05:10] wndxlori commented on #116
That setup was for RailsConf 2017. It was still working early 2018, but I’m certain needs updates now.

[2019-01-11 15:15] calicoday opened #121 "Wrong iOS UIScreen.mainScreen.bounds when missing Assets.xcasset"
Wonder if this might help someone else (sorry if it’s already noted somewhere and I missed it). Not a rubymotion thing but dev for current iOS in general, I believe. Stumbled on the answer by accident, researching a totally unrelated swift problem.

This came up for me when I was merging and rearranging a couple of projects and suddenly my views weren’t displaying the right size, though I couldn’t

[2019-01-13 19:39] amirrajan commented on #121
@astechishin, any thoughts on this ^

[2019-01-13 19:39] amirrajan commented on #121
might be related to this: https://github.com/amirrajan/rubymotion-templates/pull/10

[2019-01-13 19:44] astechishin commented on #121
I wonder if we should generate a warning on the compile if this is missing? Adding a cli command to generate if missing is probably a good idea too (and could be mentioned in warning). What was issue under macOs? Funny window sizes?

[2019-01-31 22:14] amirrajan commented on #118
Waiting for this to get accepted into LLVM upstream and then RM will be able to target this new chip: https://lists.llvm.org/pipermail/llvm-dev/2019-January/129788.html

[2019-03-30 18:15] davetrollope-fsml opened #122 "Module inclusion at compile time on Android doesn't work"
Create a new app. Add the following code to main_activity.rb or another file.

[code]

Trying to reference any symbol in the module fails:

[code]

Copy/Pasting the same code in to the repl works
[code]

[2019-03-30 20:36] davetrollope-fsml opened #123 "UnsatisfiedLinkError when including set.rb on Android"
Copy https://github.com/ruby/ruby/blob/trunk/lib/set.rb in to a new project and run. On init, the following crash happens:
[code]

[2019-05-20 09:00] Lax opened #124 "Add iOS deployment target 10.0 back (64-bit only)"
iOS deployment target 8.0-10.3 supports 64-bit only apps, I think it's safe to add it back.

#125

[2019-06-04 19:07] amirrajan opened #125 "Building RubyMotion apps on Mojave that target iOS SDK 10.0."
First verify that motion version is the latest version (at the time of writing this it was 6.1):

[code]

After that, install the 5.15 cached version of RubyMotion:

[code]

Mojave's version of Ruby is broken because of aggressive dylib caching (which affected BridgeSupport). Because of this you have to stage the newest BridgeSupport binaries in the cached directory. You can read about the dylib i

[2019-06-12 23:11] amirrajan opened #126 "TravisCI yaml file"
Sample yaml file to do RubyMotion builds from Travis:

[code]

You'll need to set an environment variable with your license key to activate RM in this case `$RUBYMOTION_LICENSE`.

[2019-06-15 17:58] amirrajan opened #127 "Firebase Cocoa Pod Configuration for RubyMotion"
put `GoogleService-Info.plist` in the `resources` folder of your app.

...
require 'motion-cocoapods'
...
Motion::Project::App.setup do |app|
...
  app.pods do
    pod 'Firebase/Core'
    pod 'Firebase/Database'
    pod 'Firebase/Auth'
  end
...
  app.info_plist['FirebaseAppDelegateProxyEnabled'] = false
...
  app.entitlements['keychain-access-groups'] = [app.seed_id + "." + app.identifier]
    #

[2019-06-15 17:58] amirrajan commented on #127
Sample app link would be nice :-)

[2019-06-17 06:49] Lax commented on #125
So this method won't work for an AppStore release.

[2019-06-17 19:36] amirrajan commented on #125
~It looks like 10.0 has been completely deprecated.~

Correction, I see what you are saying. Building against SDK 11.4 _toolchain_ has been deprecated (not SDK 10.0). Let me get the correct cache-version.

RubyMotion 5.15 contains SDK 10.0 compiled against SDK 12.1 _toolchain_.

[2019-06-17 19:53] amirrajan commented on #124
Given this issue, I'm strongly considering bringing it back. Thanks for the help @Lax .

[2019-06-19 08:18] katsuyoshi commented on #51
I am just trying it.

When I execute ```rake static```, I got an error.

[code]

I found, If I put motion-cocoapods to Gemfile, rake static is failed.

I make a new project.
Put ```gem 'motion-cocoapods'``` to Gemfile.
Then reproduce the error.

[2019-06-19 19:57] amirrajan commented on #51
do you have a sample? Was there a specific template you used?

[2019-06-19 21:50] katsuyoshi commented on #51
I put a sample here.

https://github.com/katsuyoshi/rm-static-lib-error-with-cocoapod

Although I didn't specify any template, it uses ios template.

[2019-06-21 06:48] dongyuwei opened #128 "RubyMotionSamples OSX Tweets link broken"
on page of http://www.rubymotion.com/developers/samples/ , there is a [Tweets](https://github.com/HipByte/RubyMotionSamples/tree/master/osx/Tweets) samples, which is
 404 not found right now.

[2019-06-21 17:02] AaronLasseigne commented on #128
It looks like it was removed because Twitter discontinued the API it was using. https://github.com/HipByte/RubyMotionSamples/commit/9ce391c9d8ba21b35b36ce4d3aea35defe26c282#diff-8e4f88e9d6ec0106ccc73b39d369c3e8

It should have been removed from the website as well.

[2019-06-21 17:09] #128 closed, assigned to AaronLasseigne

[2019-06-22 17:08] amirrajan commented on #51
I'll take a look Monday 👍

[2019-06-27 14:21] katsuyoshi commented on #51
I tried @hboon 's steps with Xcode 10.2 (10E125)
RM version is 6.1

1.
libstdc++.tbd is missing.
I used libc++.tbd instead of it.

2.
There is an error with building for Simulator.

[code]

Although it seems to include x86_64 by lipo command, Foo class is missing.

[code]

3.
There is an error with building for iOS device.

[code]

It seems to be required to build with bitcode.

[2019-06-27 17:45] amirrajan commented on #51
`init.mm` from DerivedData:

[code]

main.mm from DerivedData:

[code]

[2019-06-27 17:49] amirrajan commented on #51
You can compile a single `.rb` file like this:

[code]

And then use `clang`:

[code]

[2019-06-28 16:05] katsuyoshi commented on #51
Thank you @amirrajan
I tried to follow the description you wrote.
But still, it shows undefined symbol:_OBJC_CLASS_$_Foo

I want to resolve [#118](https://github.com/amirrajan/rubymotion-applied/issues/118).

Then I thought whether to make a static library and build by Xcode.

If #118 is fixed, I don't care about this issue.

[2019-06-30 16:20] amirrajan commented on #51
I’ll have updates about 118 on Tuesday hopefully

[2019-07-01 22:56] amirrajan commented on #118
@katsuyoshi The chipset has been added to LLVM 9+ (finally). We are upgrading the code this week. I'll keep you posted of any issues as they arise.

[2019-07-02 00:34] katsuyoshi commented on #118
@amirrajan thank you. I'm looking forward to using it.

[2019-07-09 12:38] amirrajan commented on #118
Updates: http://llvm.1065342.n5.nabble.com/llvm-dev-RFC-arm64-32-upstreaming-ILP32-support-for-AArch64-tt125783.html

The patch was rejected initially. We’re trying to manually apply it in the interim. Will provide updates as they come.

[2019-07-22 22:11] andrewhavens opened #129 "Backtrace line numbers are incorrect"
Using RubyMotion 6.1...there seems to be an issue with reporting the correct line numbers in backtraces. I have included a reproducible example.

Given the following class:
[code]

And calling it from within the app:
[code]

Results in this error:
[code]

[2019-07-23 14:10] amirrajan commented on #129
Noted. I'll verify.

[2019-08-03 21:36] amirrajan commented on #129
How about with the 6.2 release?

[2019-10-14 19:30] andrewhavens commented on #129
Tried it again in 6.4 and it looks like this issue has been resolved.

[2019-10-14 19:30] #129 closed, assigned to nobody

[2019-10-16 22:29] andrewhavens commented on #104
FYI: I just ran into this error again (using RubyMotion 6.4).

[code]

[2019-10-17 17:22] andrewhavens commented on #104
The weird thing is that the code in the backtrace of the error is not the code that is triggering the error. Somehow I managed to get rid of this error by simply moving things around. I extracted the code from one method to another instance method and it started working again (without making any other changes). For example:

Before:
[code]

After:
[code]

[2019-10-18 00:24] andrewhavens commented on #126
This Travis config has been tested and works with RubyMotion 6.5, Xcode 11.2, and iOS 13. It uses an official starter license key for use with open source projects.

[code]

(Updated on 11/7/19 to work with RM 6.5)

[2019-10-22 20:15] amirrajan opened #130 "Have `motion doctor` check if JDK 1.8 is installed."
Updated this code to check for JDK 1.8: https://github.com/amirrajan/rubymotion-templates/blob/master/doctor.rb#L12

[2019-10-31 00:03] amirrajan commented on #104
Noted. I'll review with Alex 👍

[2019-12-11 17:57] andrewhavens commented on #104
Just ran into this again. I'm still on RM 6.5, so maybe this has already been fixed in 7.1? The crash reports always seems to mention a `method_missing` but it's unrelated to my code. The time is was triggered somehow within `motion-sqlite3` even though this code has been working without issue. Here's a code sample:

[code]

The crash report for that thread looks like this:

[code]

[2019-12-11 22:29] amirrajan commented on #104
This line needs to include the `-isysroot` switch: https://github.com/kastiglione/motion.h/blob/master/lib/motion.h.rb#L72

It needs to point to the correct platform directory. My assumption is that passing in `xcrun --show-sdk-platform-path` will fix the issue.

[2019-12-11 22:29] amirrajan commented on #104
My assumption is that it's failing on Catalina?

[2019-12-12 18:35] andrewhavens opened #133 "Missing license file after upgrading to 7.1"
Not sure if this is related to the upgrade or something else, but I upgraded from 6.5 to 7.1 and started noticing this message every time I build my app:

It doesn't prevent me from running my app, but I'm not sure why I'm getting this message all of a sudden.

[2019-12-12 19:07] cmckni3 commented on #133
Same after RM 7.0 upgrade. Had to activate license again.

[2019-12-24 12:04] amirrajan commented on #133
I'll make sure future updates don't delete the file 👍

The Catalina package is different, so there might be an oversight there.

[2020-04-11 08:25] #124 closed, assigned to nobody

[2020-10-15 11:24] willmeet commented on #19
[That issue is clearly shown here how to solve admob failed to load ads](http://www.technologymanias.com/2020/10/admob-ads-failed-to-load-ads-solve-this.html)

[2021-02-02 18:14] elbowdonkey opened #138 "Exception when running android-setup"
When running `motion android-setup` on macOS 10.15.7 I'm seeing an exception that I'm not quite sure how to get around.

[code]

The exception occurs after the Android SDK Manager has launched. Eventually, the Android SDK Manager will close, and the `motion android-setup` command will continue and exit with this exception:

[code]

What else can I share to help troubleshoot this?

[2021-03-20 17:37] Serlle commented on #138
What's up! @elbowdonkey, did you solve that problem? Practically the same thing happens to me